.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1110px;

}

.nav{
  display: flex;
  list-style-type: none;
}

.nav li{
  margin: 0 60px 0 0;
  padding: 0;
}
